@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  font-size: 1rem;
  background-color: #eee;
}
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #555;
}
img {
  width: 100%;
}
.left-arrow {
  width: 50px;
  position: relative;
  left: 20px;
  top: 20px;
  cursor: pointer;
}
.img-wrapper {
  /* aspect-ratio: 1 / 1; */
}
.delete-icon {
  width: 30px;
  height: 30px;
  align-self: flex-end;
}
.delete-icon :hover {
  cursor: pointer;
}
.is-sticky {
  position: fixed;
  top: 10px;
  z-index: 999;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}
